= form_for [@community, @community_user] do |f|
  .field
    = f.check_box :subscriber
    = f.label :subscriber, "Subscribed"
  .actions
    = f.submit "Update Subscription", class: "btn btn-default"