.row
  %p#notice= notice

.row
  = render @post

.row
  %h4 Comments:

- if current_user
  .row
    .col-sm-8
      = render :partial => 'comments/form', :locals => { :comment => @comment }
.row
  .col-sm-12#comments
    = render :partial => 'comments/comment', :collection => @comments, :as => :comment

