.row
  = link_to '', post_upvote_path(post), class: "glyphicon glyphicon-chevron-up"
.row
  = post.get_upvotes.size - post.get_downvotes.size
.row
  = link_to '',  post_downvote_path(post), class: "glyphicon glyphicon-chevron-down"