.row
  %p#notice= notice


.row
  = render @post

.row
  %h4 Comments:

.row
  .col-sm-12
    - if current_user
      = render :partial => 'comments/form', :locals => { :comment => @comment }
    #comments
      = render :partial => 'comments/comment', :collection => @comments, :as => :comment

