.row
  %p#notice= notice


.col-sm-9
  .row
    = render @post

  .row
    %h4 Comments:
  .row
    - if current_user
      = render :partial => 'comments/form', :locals => { :comment => @comment }
    = render :partial => 'comments/comment', :collection => @comments, :as => :comment

