.row
  %p#notice= notice

.row
  .col-sm-8
    = render @post

.row
  = render :partial => 'comments/form', :locals => { :comment => @comment }
  = render :partial => 'comments/comment', :collection => @comments, :as => :comment
